# Virtual environment
venv*/
**/venv*/
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# IDE settings
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
